.footer {
    background-color: #000;
    height: 132px;
}

.container {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-inline: 40px;
    max-width: 1440px;
    height: 100%;
}

.text_left,
.contacts {
    flex-shrink: 1;
    flex-basis: 241px;
    color: #fff;
    font-size: 24px;
    font-family: "Jura";
    text-align: center;
}

.footer_nav {
    align-items: center;
    gap: 70px;
    flex-basis: 162px;
}

.skeleton {
    background-color: #1b1b1b;
    flex-basis: 100%;
    height: 50px;
}

.skeleton::after {
    background-image: linear-gradient(90deg, transparent, rgb(39, 39, 39), transparent);
}
