.section {
    flex-grow: 1;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.1);
    background-color: rgb(253, 252, 249);
    padding: 30px;
}

.title {
    margin-bottom: 30px;
}

.level {
    margin-bottom: 20px;
}

.description {
    max-width: 800px
}

.skeleton {
    display: block;
}

.level_skeleton {
    width: 200px;
    height: 32px;
    margin-bottom: 20px;
}

.description_skeleton {
    height: 40px;
    width: 700px;
}