.card {
    display: flex;
    flex-basis: 200px;
    transition: all 0.1s ease-in-out;
    border: 1px #ccc solid;
    border-radius: 10px;
}

.card_wrap {
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.card:hover {
    background-color: #fef6d0;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.name {
    max-width: 200px;
    text-align: center;
}
