.section {
    flex-grow: 1;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.1);
    background-color: rgb(253, 252, 249);
    padding: 30px;
}

.content {
    display: flex;
    gap: 50px;
    padding-right: 30px;
}

.top {
    justify-content: space-between;
    align-items: center;
}

.avatar {
    text-align: center;
}

.avatar_btn {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.avatar_btn:hover {
    cursor: pointer;
}

.userdata,
.accounts {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 30px;
}

.input_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.input,
.date_picker {
    flex-basis: 400px;
}

.button {
    font-family: "JejuMyeongjo";
}

.bottom {
    gap: 30px;
    justify-content: flex-end;
}

.modal_wrap {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    background-color: white;
    padding: 30px;
    
}

.modal_content {
    gap: 30px;
}

.modal_img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.modal_title {
    font-size: 32px;
    margin-bottom: 30px;
}

.close_btn {
    margin-left: auto;
    margin-top: auto;
}

.upload_wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.upload_btn {
    width: fit-content;
}

.avatar_title {
    margin-bottom: 10px;
}